html {
  position: relative;
  min-width: 1024px;
  margin-left: 50px;
  font-size: 30px;
  font-family: "Lobster", cursive;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

textarea {
  font-size: 18px;
}

ul {
  font-size: 30px;
}
